h1{

    color: darkgreen;
    text-align: center;
}

body{
    background-color: goldenrod;
}

p{
    font-size: 20;
    font-weight: bold;
    color:brown;
}

h3{
    color: cyan;

}

h2{
    color: dodgerblue;
}